body{
    background-color: cadetblue;color: blueviolet;
}
h2{
    background-color: black;color: aqua;
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}